.app-header-container {
  background-color: #3336e2;
  display: grid;
  grid-template-columns: 1fr; // one full-width column



  .header {
     display: grid;
    justify-items: center;
    align-items: center;
    margin: 0;
    padding: 1rem;
    color: rgb(231, 226, 226); // for better contrast with the background
  }

  .app-header-nav {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-around;
    align-items: start;
    padding: 1rem;
    background-color: rgb(136, 32, 32);
  }
}
